* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  min-height: 5vh;
  background: lavender;
}

.navLinks {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(102, 102, 245);
}

.navLinks a:hover {
  text-decoration: underline;
  color: rgb(88, 88, 88);
}

.shopContainer {
  display: flex;
  justify-content: space-evenly;
}

.shopItems {
  flex-grow: 3;
}

.shopItemList {
  display: flex;
  flex-wrap: wrap;
}

.shopCart {
  flex-grow: 1;
  border-left: 1px solid black;
  padding: 0 15px 0 15px;
}

.itemCard {
  height: 300px;
  width: 300px;
  margin: 5px;
  border: 2px solid transparent;
}

.itemCard:hover {
  border: 2px solid rgb(102, 102, 245);
}

img {
  height: 10em;
  max-width: 16em;
} */